@import "tailwindcss";

@theme {
  --color-background: #0f0f1a;
  --color-accent: #00c96b;
  --color-card: #1a1a2e;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f0f1a;
  color: white;
}